@font-face {
  font-family: "Lato";
  src: url("fonts/LatoBold.eot");
  src: url("fonts/LatoBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/LatoBold.woff") format("woff"),
    url("fonts/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/LatoLight.eot");
  src: url("fonts/LatoLight.eot?#iefix") format("embedded-opentype"),
    url("fonts/LatoLight.woff") format("woff"),
    url("fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Lato;
  padding: 20px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
